
<div id = facts>
    <div class = box>
        <h3>Fact about Year </h3>
        <h5><%= @yearfacts %></h5>
    </div>
    <div class = box>
        <h3>Fact about Date </h3>
        <h5><%= @datefacts %></h5>
    </div>
    <div class = box>
        <h3>Math Fact about Number </h3>
        <h5><%= @mathfacts %></h5>
    </div>
    <div class = box>
        <h3>Random Fact about Number </h3>
        <h5><%= @numberfacts %></h5>
    </div>
    <div class = box>
        <h3>Random Fact For You </h3>
        <h5><%= @randomfacts %></h5>
    </div>
</div>